<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 맵퍼는 네임스페이스가 중요 --><!-- db접근 가능한 sql 문장을 씀 -->
  <mapper namespace="testMapper">
  	<select id="getTime" resultType="String"> <!-- 데이터를 받아오는 거니까 resultType, String으로 받아오겠다 -->
  		select sysdate from dual
  	</select>
  </mapper>